<div class="col-10 offset-1 about">
    <h1>About Jesse Wong</h1>
    
<p>
    This splurty was built by <a target="_blank" href="https://fho-imionjay.c9users.io/quotes/new">Jesse</a>, I am a student trying to learn how to code to hopefully make it in the technology industry and maybe make a video game one day.
  </p>
  <br />
  <p>
    I graduated from Pasadena City College with a Associates Degree in Fine Arts applied to Science. My dream is to make a positive difference in another person's life with what I have.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  
    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'picture.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jesse Wong</h2>
      <br />
      <p>
         I graduated from <a target="_blank" href="https://pasadena.edu/"> Pasadena City College</a> with a Associates Degree in Fine Arts applied to Science. My dream is to make a positive difference in another person's life with what I have. 
      </p>
    </div>
  </div>
  <br class="clear" />

  <div class="row">
    <div class="col-12 col-sm-4" style="padding-top:30px;">
      <%= image_tag 'ken.jpg', class: 'img-fluid' %>
    </div>
    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Ken Mazaika</h2>
      <br />
      <p>
        Ken Mazaika is a web developer and Ruby on Rails contributor. Previously he was a tech lead at Where.com (<a target="_blank" href="http://bostinno.streetwise.co/2011/04/13/nearbuys-where-rolls-out-daily-deals/">acquired by PayPal</a>) and a member of the PayPal/eBay development team in Boston. In a previous life he turned a <a target="_blank" href="http://yourfreequotes.com/">health insurance quotes generator</a> from a $400/day web application into a $40,000/day business.
      </p>
    </div>
  </div>
  
</div>

<br class="clear" />
<br />
<br />
<br />
<br />