<div class="col-10 offset-1 about">
    <h1>About Jesse Wong</h1>
    
<p>
    This splurty was built by <a target="_blank" href="https://fho-imionjay.c9users.io/quotes/">Jesse</a>, I am a student trying to learn how to code to hopefully make it in the technology industry and maybe make a video game one day.
  </p>
  <br />
  <p>
    I graduated from Pasadena City College with a Associates Degree in Fine Arts applied to Science. My dream is to make a positive difference in another person's life with what I have.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
  </p>
  
    <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'picture.jpg', class: 'img-fluid' %>
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Jesse Wong</h2>
      <br />
      <p>
         I graduated from <a target="_blank" href="https://pasadena.edu/"> Pasadena City College</a> with a Associates Degree in Fine Arts applied to Science. My dream is to make a positive difference in another person's life with what I have. 
      </p>
    </div>
  </div>
  <br class="clear" />
<br />
<br />
<br />
<br />